<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ use meta }} {{ use style }}
    <link rel="stylesheet" href="../style/mona.css" />
  </head>
  <body>
    {{ include "header" }}

    <main>
      <article>{{ use content }}</article>
    </main>

    {{ include "comment" }} {{ include "footer" }}

    <script type="module">
      import prismjs from 'https://cdn.jsdelivr.net/npm/prismjs@1.29.0/+esm'
    </script>
  </body>
</html>
